language: go

go:
  - 1.11.x
  - 1.12.x
  - tip

# Force-enable Go modules. This will be unnecessary when Go 1.12 lands.
env:
- GO111MODULE=on

# Only clone the most recent commit.
git:
  depth: 1

#before_install:
#  - go get -t -v ./...

script:
 - go vet ./...
 - go test -race -coverprofile=coverage.txt -covermode=atomic ./...

after_success:
  - bash <(curl -s https://codecov.io/bash)

notifications:
  email:
    - posandrey@gmail.com

#cache:
#  directories:
#  - $HOME/gopath/src/github.com/$TRAVIS_REPO_SLUG
